# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django secret key and environment variables
.env
*.env

# Database files
db.sqlite3
db.sqlite3-journal

# Django migration files
*/migrations/*  
!*/migrations/__init__.py  

# Media uploads
media/

# Static files
staticfiles/
static/

# Logs and debugging
logs/
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.swn

# IDE files
.vscode/
.idea/
*.iml



# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# Celery beat schedule
celerybeat-schedule


