{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  {% include 'core/header.html' %}
<script>
  let csrfId = "{{ csrf_token }}"

</script>


<script src="{% static 'gymUser/js/join_gym.js' %}"></script>

    <!-- Main Content -->
    <div class="container mx-auto p-10 mt-[7rem]">
      <h1 class="text-2xl font-bold mb-4 text-black">Gyms in {{ gym_user.city }}</h1>

      <!-- Success Message Overlay -->
      <div
        id="success-message"
        class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden z-50"
      >
        <div class="bg-white p-8 rounded-lg shadow-lg text-center">
          <h2 class="text-2xl font-semibold text-green-600">Success!</h2>
          <p>You have successfully joined the gym.</p>
          <button
            onclick="closeMessage()"
            class="mt-4 bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
          >
            Close
          </button>
        </div>
      </div>

      <ul class="grid grid-cols-4 sm:grid-cols-2 lg:grid-cols-4 gap-2">
        {% for gym in gyms %}
        <li
          class="p-6 w-3/5 rounded-2xl shadow-xl transform hover:scale-105 transition duration-300 ease-in-out text-black backdrop-blur-md bg-white/30 border border-white/30"
        >
          <h2 class="text-xl font-semibold">{{ gym.gym_name }}</h2>
          <p>{{ gym.address }}, {{ gym.city }}, {{ gym.state }}</p>
          <button
            id="join-btn-{{ gym.id }}"
            onclick="joinGym({{ gym.id }})"
            class="mt-4 py-2 px-4 text-white rounded-lg transition ease-in-out duration-300 bg-[#4399c5] hover:bg-[#cbccc6]/10 hover:text-black"
          >
            Join
          </button>
        </li>
        {% empty %}
        <p class="text-center col-span-3 text-black">No gyms available in your city.</p>
        {% endfor %}
      </ul>
    </div>


    

{% endblock content %}