{% extends "core/base.html" %}
{% load static %}

{% block content %}
<!-- Main Content -->
{% include 'core/header.html' %}
<main class="flex-grow flex items-center justify-center min-h-screen my-4 mt-[7rem]">
    <div class="register-container backdrop-blur-lg bg-white/40 border border-white/20 shadow-lg rounded-lg p-8 w-full max-w-md mx-auto transition hover:shadow-2xl transform hover:-translate-y-1">
        <h2 class="text-2xl font-semibold text-[#111] mb-6 text-center drop-shadow">{{ user_type }} Registration</h2>
        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full py-2 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition duration-200">Register</button>
        </form>
        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="text-blue-200 hover:text-white transition duration-200">Already have an account? Login</a>
        </div>
    </div>
</main>

<!-- Footer Section -->
{% include "core/footer.html" %}
{% endblock %}
