<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymConnect Home</title>
</head>
<body>
    <h1>Welcome to GymConnect</h1>
    <nav>
        <ul>
            <li><a href="{% url 'register_gym_owner' %}">Register Gym Owner</a></li>
            <li><a href="{% url 'register_trainer' %}">Register Trainer</a></li>
            <li><a href="{% url 'register_gym_user' %}">Register Gym User</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>

        </ul>
    </nav>
</body>
</html>
