{% extends 'core/base.html' %} {% load static %} {% block content %}
 {% include "core/header.html" %}
 {% block head_block %}
 <meta name="csrf-token" content="{{ csrf_token }}">
 {% endblock head_block %}
<script src="{% static 'trainer/js/script.js' %}"></script>
<script>
  const crossImgUrl = "{% static 'trainer/image/cross.png' %}";
  console.log(crossImgUrl)
</script>

<!-- Main Content -->
<main class="flex-grow container mx-2 py-8 flex space-x-8 mt-[7rem]">
  <!-- Gym Users List -->
  <ul class="w-1/3 space-y-6 ">
    {% for gym_user in gym_users %}
    <li
      class="p-4 bg-white shadow-md rounded-lg flex items-center justify-between backd-blur-xl rounded bg-white/30  space-x-4"
    >
      <div class="flex items-center space-x-4 ">
        <img
          src="{{ gym_user.profile_picture.url }}"
          alt="Profile Picture"
          class="w-12 h-12 rounded-full"
        />
        <div>
          <strong class="text-lg text-black">{{ gym_user.name }}</strong>
        </div>
      </div>
      <button
        class="px-4 py-2 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90  transition"
        onclick="openPlanPopup({{ gym_user.id }})"
      >
        Plan Update
      </button>
    </li>
    {% endfor %}
  </ul>

  <!-- Plan Update Popup -->
  <div
    id="plan-popup"
    class="w-3/6 h-5/6 justify-center item-center bg-white shadow-lg rounded-lg p-6 mx-[3rem] inset-y-0 right-0 flex flex-col space-y-6 hidden overflow-y-auto max-h-full  mt-[0.2rem]  backdrop-blur-lg bg-white/30"
  >
    <h3 class="text-2xl text-black font-bold mb-4 text-center">Update Plan</h3>
    <div class="text-center mb-4 text-black">
      Last Update: <span id="update-date" class="text-gray-600 text-black">NA</span>
    </div>
    <form action="" method="post" class="space-y-4">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <!-- Monday Workout -->
        <div>
          <label class="block font-semibold text-black">Monday Workout:</label>
          <div
            id="monday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="monday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('monday', document.getElementById('monday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Tuesday Workout -->
        <div>
          <label class="block font-semibold text-black">Tuesday Workout:</label>
          <div
            id="tuesday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="tuesday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('tuesday', document.getElementById('tuesday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Wednesday Workout -->
        <div>
          <label class="block font-semibold text-black">Wednesday Workout:</label>
          <div
            id="wednesday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="wednesday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('wednesday', document.getElementById('wednesday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Thursday Workout -->
        <div>
          <label class="block font-semibold text-black">Thursday Workout:</label>
          <div
            id="thursday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="thursday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('thursday', document.getElementById('thursday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Friday Workout -->
        <div>
          <label class="block font-semibold text-black">Friday Workout:</label>
          <div
            id="friday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="friday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('friday', document.getElementById('friday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Saturday Workout -->
        <div>
          <label class="block font-semibold text-black">Saturday Workout:</label>
          <div
            id="saturday_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="saturday"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('saturday', document.getElementById('saturday').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>
        <!-- Breakfast -->
        <div>
          <label class="block font-semibold text-black">Breakfast:</label>
          <div
            id="breakfast_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="breakfast"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('breakfast', document.getElementById('breakfast').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Lunch -->
        <div>
          <label class="block font-semibold text-black">Lunch:</label>
          <div
            id="lunch_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="lunch"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('lunch', document.getElementById('lunch').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Dinner -->
        <div>
          <label class="block font-semibold text-black">Dinner:</label>
          <div
            id="dinner_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="dinner"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('dinner', document.getElementById('dinner').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>

        <!-- Pre-workout Diet -->
        <div>
          <label class="block font-semibold text-black">Pre-workout Diet:</label>
          <div
            id="preworkout_diet_div"
            class="mb-2 p-2 rounded flex flex-wrap gap-2 text-[#384959]"
          ></div>
          <div class="flex items-center space-x-2">
            <input
              type="text"
              id="preworkout_diet"
              class="border border-gray-300 rounded px-3 py-2 w-full text-black"
            />
            <button
              type="button"
              onclick="addItemToContainer('preworkout_diet', document.getElementById('preworkout_diet').value)"
              class="px-4 py-1 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 transition"
            >
              Add
            </button>
          </div>
        </div>
      </div>

      <!-- Action buttons -->
      <div class="flex justify-end space-x-4 mt-4">
        <button
          type="button"
          onclick="closePopup()"
          class="px-6 py-2 bg-red-800/90 text-white rounded hover:bg-red-800"
        >
          Close
        </button>
        <button
          type="button"
          onclick="submitPlan()"
          class="px-6 py-2 bg-red-600/70 text-white rounded-lg hover:bg-red-700/90 rounded"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</main>

{% endblock content %}
