{% extends 'core/base.html' %}

{% block content %}
{% include "core/header.html" %}

<!-- Main Content -->
<main class="flex-grow flex items-center justify-center py-10 mt-[7rem] ">
    <div class="container mx-auto p-10 flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold text-center mb-8 text-[#4399c5]">Trainer Dashboard</h1>
        
        <!-- Main Button Container -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 w-1/2 max-w-4xl backdrop-blur-lg bg-white/30 border border-white/30 rounded-2xl p-6 shadow-xl">
            
            <!-- Requests Button -->
            <a href="{% url 'trainer_requests' %}"
               class="block text-center p-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
               style="background-color: #4399c5; color: white;">
                <h2 class="text-xl font-semibold">Requests</h2>
            </a>

            <!-- Add Plans Button -->
            <a href="{% url 'trainer_add_plans' %}"
               class="block text-center p-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
               style="background-color: #51b6ab; color: white;">
                <h2 class="text-xl font-semibold">Add Plans</h2>
            </a>

            <!-- Create Course Button -->
            <a href="{% url 'trainer_courses' %}"
               class="block text-center p-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
               style="background-color: #ebcd77; color: black;">
                <h2 class="text-xl font-semibold">Create Course</h2>
            </a>
            <a href="{% url 'blog:create_post' %}"
               class="block text-center p-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
               style="background-color: #cbccc6; color: black;">
                <h2 class="text-xl font-semibold">Create Post</h2>
            </a>
        </div>
    </div>
</main>
{% endblock content %}
