{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  {% include 'core/header.html' %}

  <div class="max-w-6xl mx-auto p-6 mt-[7rem]">
    
    <h2 class="text-3xl font-bold mb-8 text-black text-center">Available Courses</h2>

    {% for category, courses in courses_by_category.items %}
      <div class="mb-10">
        <h3 class="text-2xl font-semibold text-black mb-4">{{ category }}</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for course in courses %}
            <div class="bg-white/20 backdrop-blur-md shadow-lg border border-white/30 rounded-xl p-4 transition hover:shadow-2xl hover:-translate-y-1 duration-300">
              {% if course.thumbnail %}
                <img
                  src="{{ course.thumbnail.url }}"
                  class="w-full h-36 object-cover rounded-lg mb-4"
                  alt="{{ course.title }}"
                />
              {% else %}
                <img
                  src="{% static 'courses/image/default-course-thumbnail.jpg' %}"
                  class="w-full h-36 object-cover rounded-lg mb-4"
                  alt="Default thumbnail"
                />
              {% endif %}

              <a
                href="{% url 'course_detail' course.id %}"
                class="text-lg text-black font-semibold text-blue-600 hover:underline block mb-1"
              >
                {{ course.title }}
              </a>
              <p class="text-sm  text-black/90 mb-2">{{ course.description|truncatewords:15 }}</p>
              <p class="font-bold text-black">₹{{ course.price }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% empty %}
      <p class="text-gray-700">No courses available.</p>
    {% endfor %}
  </div>
{% endblock %}
